#map {
   height: 100vh;
    width: 100%;
}

/* Contenedor de los controles de zoom */
.custom-zoom-controls {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

/* Estilos de los botones de zoom */
.custom-zoom-button {
    background: #fff;
    border: 1px solid #d3d3d3;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
}

.custom-zoom-button:hover {
    background: #f7f7f7;
}

/* Marker style */
.custom-marker {
    border-radius: 40px;
    background: #FFF;
    box-shadow: 0px 0px 2px 0px rgba(24, 28, 22, 0.20), 0px 2px 2px 0px rgba(24, 28, 22, 0.10);
    display: flex;
    align-items: center;
    padding: 5px 8px 4px 10px;
    cursor: pointer;
    transition: background 0.1s, color 0.1s; /* Añade transición para un efecto más suave */
    z-index: 2;
}

.custom-marker:hover {
    background: #2F3B2E;
    color: #FFFFFF;
    z-index: 1000; /* Asegura que el marcador esté encima de otros elementos */
}

.marker-icon {
    display: flex;
    margin-right: 8px;
    cursor: pointer;
}

.marker-text {
    color: #141913;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.28px;
    margin: 0;
}

/* Cambiar color del texto al hacer hover */
.custom-marker:hover .marker-text {
    color: #FFFFFF;
}

/* POI markers */
.custom-POI {
    display: flex;
    align-items: center;
    position: relative; /* Cambia a relative para controlar el texto internamente */
    padding: 2px; /* Ajusta el espacio alrededor del contenido si es necesario */
    cursor: pointer;
    z-index: 0;

    /*Transicion para que el hover sea suave*/
    transition: transform 0.1s ease-in-out;
}

.POI-icon {
    width: 16px;
    height: 16px;
    background-color: #E6A63D;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    flex-shrink: 0; /* Previene que el icono se reduzca */
   border-radius: 50%;
   box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.12) inset;

}

.POI-text {
    color: #252525;
    text-shadow:
        1px 1px 0 #FFF,
        -1px -1px 0 #FFF,
        1px -1px 0 #FFF,
        -1px 1px 0 #FFF; /* Ajusta el grosor y color del borde según sea necesario */
    font-family: Poppins, sans-serif;
    font-size: 10px; /* Ajusta el tamaño según sea necesario */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    white-space: nowrap; /* Mantiene el texto en una sola línea */
    position: absolute; /* Posiciona el texto absolutamente dentro del contenedor */
    left: 24px; /* Ajusta la posición horizontal del texto, según sea necesario */
    top: 16%; /* Ajusta la posición vertical del texto, según sea necesario */
    transform: translateY(-50%); /* Centra verticalmente el texto */
    display: none; /* Oculta el texto por defecto */
    
}

/* Mostrar texto al hacer hover sobre el marcador */
.custom-POI:hover .POI-text {
    display: block;
    
}


.custom-POI:hover {
    transform: scale(1.1); /* Ajusta el factor de escala según el tamaño deseado */
}


/* DIV al hacer click */
.place-info-div{
    position: absolute;
    z-index: 2;
    left: 24px;
    top: 16%;
    border-radius: 8px;
background: var(--Base-White, #FFF);
box-shadow: 0px 0px 2px 0px rgba(24, 28, 22, 0.20), 0px 2px 2px 0px rgba(24, 28, 22, 0.10);
/*width: 420px;
height: 126px;*/
}

.place-info-content{
    display: flex;
}

.place-info-text{
width: 260px;
padding: 16px;
}

.place-info-content img {
    width: 160px;
    height: 126px;
    object-fit: cover; /* Mantiene la proporción de la imagen sin deformarla */
    border-radius: 8px 0 0 8px; /* Bordes redondeados */
}


.place-info-div h1{
    margin-top: 0px;
    color:  #657F64;
/* Text/Text 18/Medium */
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 155.556% */
}

.place-info-div p{
    color: #141913;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 300;
line-height: 18px; /* 150% */
letter-spacing: -0.24px;
margin-bottom: 0px;

display: -webkit-box;          /* Utiliza un contenedor de caja flexible */
-webkit-box-orient: vertical; /* Orientación vertical de la caja flexible */
-webkit-line-clamp: 2;         /* Número máximo de líneas */
overflow: hidden;              /* Oculta el contenido desbordado */
text-overflow: ellipsis;       /* Muestra "…" al final del texto desbordado */
line-height: 1.2;              /* Altura de línea para ajustar el espaciado */
max-height: 2.4em;
}